@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    width: 84%;
    background-color: var(--white-color);
    /* padding: 2rem 8rem 2rem 8rem; */
    padding-right: 8%;
    padding-left: 8%;
    font-family: Montserrat;
}
:root{
    --white-color: #ffffff;
    --black-color: #000000;
    --orange-color: #F48E28;
    --ash-color: #E4E4E4;
    --font-color: #b6b6b6;
}

@media only screen and (min-width: 200px) and (max-width: 576px) {
    body{
        width:94%;
        padding-right: 3%;
        padding-left: 3%;
    }
    .nav-mid {
        width: 21%; 
        gap: 1rem;
    }
    .nav-search {
        width: 30%;
        margin-right: 1rem;
    }
    #c-icon {
        display: none;
    }
    .front-body {
        width: 98%;
        padding: 3rem 0;
        display: block;
        /* margin: auto 0 auto 0; */
    }
    .text1 {
        font-size: 420%;
        text-transform: uppercase;
        line-height: 80px;
        font-weight: 700;
        margin: 3rem 0;
    }
    .ord-btn{
        margin-right: 0;
    }
    .right-side {
        width: 100%;
        /* padding: 0%; */
        gap: 0.8rem;
    }
    .food {
        width: 100%;
        height: 22rem;
        margin: 0;
        margin-right: 1rem;
        
    }
    .food img {
        width: 100%;
        margin-bottom: 0;
    }
    .front-adrs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        height: 34rem;
    }
    .adrs {
        width: 98%;
        /* height: 98px; */
        font-size: 1rem;
        font-weight: 600;
        border-bottom: 2px solid var(--ash-color);
        border-right: 2px solid transparent;
    }
    .product-container {
        width: 98%;
        text-align: center;
    }
    .products{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    .products2{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    .product{
        margin-bottom: 1rem;
        box-shadow: 0px 2px 30px 0px #0000001A;

    }
    .product-pic {
        width: 100%;
        height: 320px;
        background-size: cover;
    }
    .service{
        margin-bottom: 1rem;
    }
    .test-img{
        display: none;
    }
    .test-cmnt{
        width: 100%;
    }
    .sub-img{
        display: none;
    }
    .sub-txt{
        background: url(burger_sandwich_PNG4135\ 1.png);
        background-position: center;
        width: 100%;
        text-align: center;
        margin: 1rem auto;
    }
    .sub-txt:hover{
        background: #000000;
        border-radius: 30px;
    }
    footer{
        display: block;
        padding-top: 5rem;
    }
    .foot-about{
        width: 100%;
    }
    .foot-opening{
        width: 100%;
    }
    .hide{
        display: none;
    }
}

